---
layout: default
title: News
permalink: /news/
---

<section>
  <div class="container">
    <h1>News</h1>

    <div class="row gx-2">
      <!-- LEFT COLUMN: Bluesky embeds only -->
      <div class="col-lg-6">
        <!-- Bluesky embed script (only once per page) -->
        <script src="https://embed.bsky.app/static/embed.js" async></script>

        {% assign bluesky_items = site.bluesky %}
        {% for post in bluesky_items %}
          <div class="mb-4">
            <div
              class="bluesky-embed"
              data-bluesky-uri="{{ post.bsky_uri }}"
              data-bluesky-from-url="{{ post.bsky_url }}">
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- RIGHT COLUMN: your existing news include -->
      <div class="col-lg-12 px-0">
        <h2 class="mb-3">Lab Updates</h2>
        {% assign sorted_news = site.news | sort: 'date' | reverse %}
        {% for news in sorted_news %}
          {% include news.html news=news %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>