---
layout: default
title: News
permalink: /news/
---

<section>
  <div class="container px-lg-4">
    <h1>News</h1>

    <div class="row gx-6">
      <!-- LEFT COLUMN: Bluesky tweets -->
      <div class="col-lg-4">
  
        <script src="https://embed.bsky.app/static/embed.js" async></script>

        {% assign bluesky_items = site.bluesky %}
        {% for post in bluesky_items %}
          <div class="mb-4">
            <div
              class="bluesky-embed"
              data-bluesky-uri="{{ post.bsky_uri }}"
              data-bluesky-from-url="{{ post.bsky_url }}">
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- RIGHT COLUMN: lab news  -->
      <div class="col-lg-8">
      <!-- <h2>Lab Updates</h2> -->
        {% assign sorted_news = site.news | sort: 'date' | reverse %}
        {% for news in sorted_news %}
          {% include news.html news=news %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>