---
layout: default
title: Research
permalink: /research/
---
{% assign projects = site.projects | where: "active", "true" | sort: "order" %}
<section>
    <div class="container px-4">
        <div class="row gx-4">
            <div class="col-lg-12">
                <h1>Current Projects</h1>
            </div>
        </div>
        {% for project in projects %}
            {% include project.html %}
        {% endfor %}
    </div>
</section>

{% assign projects = site.projects | where: "active", "false" | sort: "order" %}
{% if projects.size > 0 %}
<section>
    <div class="container px-4">
        <div class="row gx-4">
            <div class="col-lg-12">
                <h1>Past Projects</h1>
            </div>
        </div>
        {% for project in projects %}
            {% include project.html %}
        {% endfor %}
    </div>
</section>
{% endif %}
