<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container px-4">
        <a class="navbar-brand" href="/"><img class="img-fluid logo-header" src="/img/draelos-lab.svg" alt="{{ site.lab_short_name }}" />{{ site.lab_short_name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/research" id="researchDropdownLink" role="button">
                        Research
                    </a>
                    <div class="dropdown-menu" aria-labelledby="researchDropdownLink">
                        {% assign projects = site.projects | where: "active", "true" | sort: "order %}
                        {% for project in projects %}
                            {% assign project_id = project.basename | split: "." | first %}
                                <a class="dropdown-item" href="/research/#project-{{ project_id }}">{{ project.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% for item in site.data.pages %}
                    <li class="nav-item">
                        <a class="nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</nav>
