            <div class="row my-3">
                {% if news.image %}
                <div class="col-lg-4 mt-5 align-self-center">
                    <img class="img img-fluid rounded mb-2 mb-lg-0 custom-img" src="{{ news.image }}" alt="News Image" />
                </div>
                {% endif %}
                <div class="{% if news.image %}col-lg-8{% else %}col-12{% endif %} mt-lg-5 align-self-center">
                    <p><i>{{ news.date | date: "%B %Y" }}</i> - {{ news.content | strip_newlines | strip_html }}</p>
                </div>
            </div>
